<template>
  <div>
    <Nuxt />
   
  </div>
</template>

<style>
@font-face {

	font-family: 'Bebas Neue'; 

	src: local('Bebas Neue'),

		url(/fonts/BebasNeueBold.ttf); 

}
body{
  border: none;
padding: 0px;
margin: 0px;
}
html {

border: none;

margin: 0px;
padding: 0px;
  font-family: 'Bebas Neue';
    font-weight: 100;
    font-style: normal;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

</style>
