<template>
  <div class="container">
    <div class="header">
      <div class="logos">
     <img src="..\static\got2be.png" alt="">
      <img src="..\static\shwarzkopf.png" alt="">
      </div>
  
     <div class="text1">
    <p> ОБ АКЦИИ </p>
    <p> ПРАВИЛА </p>
    <p> ПОМОШЬ </p>
    <p> ИТОГИ </p>
      </div>
    </div>


    <div class="sashacat">
      <div class="content">
        <p class="inst">@gotb <br> @itsashacat</p>
<img src="..\static\Artboard 1 1.png" alt="">
<p>мой<br>
цвет - космос<br>

  by ME
</p>
</div>
<div class="contentproduct">
  <p>#преобразисьсСашейКэт </p>
  <p>скажи goodbye скучному цвету</p>
  <img class="sashalogo" src="..\static\sasha.png" alt="">
  <img class="sashaproduct" src="..\static\product.png" alt="">
  <button> <p> Подробнее</p></button>
</div>
    </div>

  <div class="about">

<div class="content2">
  <p id="ob">об акции</p>
  <p>сроки проведения с 15 июня по 31 июля 2020</p>
  <div class="purplebrush">
  <div class="imgblock">

    <img src="..\static\brush 1.png" alt="">
    <p>1</p>
    <span>Покупай средства Got2B в магазинах <br> Магнит Косметик. </span> 
    <span style="color:#70BBEC"> Подробнее о продуктах Got2B,</span><span>  участвующих в акции</span>
  </div>
<div class="imgblock">
<img src="..\static\brush2 1.png" alt="">
  <p>2</p>
  <span>
  <span>Участвуй в ТикТок-челлендже от Саши Кет <br> и получи возможность выиграть один из трех призов  за самое яркое видео</span>
  </span></div>
<div class="imgblock">

<img src="..\static\brush 1(1).png" alt="">
  <p>3</p> <span>
  <span>Поймай средство Got2B, покажи себя в классическом образе “до” и ярком образе “после”, передай средство Got2B и выложи свой дуэт с Сашей Кет с тегом #передайgot2b. Не забудь отметить ТикТок Саши в своем видео! </span>
  </span></div>
<div class="imgblock">
<img src="..\static\brush2 1(1).png" alt="">
  <p>4</p> 
  <span>Переходи на сайт, чтобы посмотреть совместное видео со всеми участниками челленджа и узнать результаты конкурса</span>
  </div>

</div>
</div>
  </div>


    <div class="dudes">
<img src="..\static\3dudes.png" alt="">
<p>Итоговое видео и результаты конкурса <br>будут опубликованы 4 августа</p>
    </div>
 <div class="header">
      <div class="logos">
     <img src="..\static\got2be.png" alt="">
      <img src="..\static\shwarzkopf.png" alt="">
      </div>
  
     <div class="text1">
    <p> ОБ АКЦИИ </p>
    <p> ПРАВИЛА </p>
    <p> ПОМОШЬ </p>
    <p> ИТОГИ </p>
      </div>
    </div>
  </div>
</template>

<script>
export default {}
</script>

<style>


p{
  font-family: 'Bebas Neue';
  font-style: Bold;
 font-weight: 700;
font-size: 24px;
}


.header {
  margin: 2%;
  display: flex;
}
.logos{
  width: 50%;
}
.text1{
  text-align: center;
  width: 50%;
}
.logos img{
  margin: 1%;
}
.text1 p{  
  text-align: right;
  display: inline-flex;
   margin: 1% 4%;
    font-family: 'Bebas Neue';
 font-style: Bold; 
 font-weight: 700;
font-size: 24px;


}

.text1 .logos{
  position:relative;
  display: flex;
}
.sashacat{
padding: 2%;
  background-color: #70BBEC;
  display: flex;
}

.content{
  padding: 1%;
  width: 50%;
  background-color: white;
  position: relative;
    display: inline-block;
    text-align: center;
}
.content .inst {
  left: 10%;
  top:2%;
 display: flex;
 text-align: left;
  font-size: 24px;
  font-style: normal;
}
.content p{

position: absolute;
top: 42%;
left: 0;
    right: 0;
    bottom: 1%;
    font-size: 100px;
    color: white;
}

/* .content #byme{
  position: absolute;
top: 75%;
left: 0;
    right: 0;
    bottom: 1%;
    font-size: 40px;
    color: white;
} */
.contentproduct{

  text-align: center;
  width: 50%;
   background-color: white;
   position: relative;
    display: inline-block;
}
.contentproduct img{
  position: relative;
  display: block;
margin-right:0;
  
}
.sashalogo{
  left:38%;
  margin-bottom: 1rem;
}
.sashaproduct{
  left:29%;
}
.contentproduct p{
    font-size: 40px;
}
button {
  background: #70BBEC;
  border: none;

}
button p{
  width: 20rem ;
  color: white;
}
.about{
  padding: 2%;
  background-color: #F16F97;
}

.content2{
   background-color: white;
}
.content2 p{
  text-align: center;
      font-family: 'Bebas Neue';
 font-style: Bold;
 font-weight: 700;
font-size: 40px;
}
.content2  #ob {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 100px;
}
.purplebrush{
  margin-left: 10rem ;
  display: inline-flex;
}
.imgblock span {
  
  display: flex;
}
.imgblock {
  width: 24%;
  margin-right: 10rem;
  position: relative;
  display: inline-block;
}
.imgblock img{
 
 display: inline;
}
.imgblock p{
  position: absolute;

left: 0;
    right: 25%;
    bottom: 40%;
    font-size: 100px;
    line-height: 140%;
    color: white;

}
.imgblock span{
 font-size: 24px;
}
.dudes{
background-color: #70BBEC;
text-align: center;
padding-bottom: 10rem;
}
 .dudes p{ 
  text-align: center;
  color: white;
      font-family: 'Bebas Neue';
 font-style: Bold;
 font-weight: 700;
font-size: 40px;

}
 
 @media only screen and (max-width: 1200px) {
   .purplebrush{
     display: block;
     text-align: center;
   }
   .imgblock {
     display: grid;
     
  width: 100%;
  position: relative;
 

   }
   .imgblock img{
 margin-left: 25rem;
 display: flex;
}
   .imgblock span {
  
  display: block;
}
   .imgblock p{
  position: absolute;

left: 0;
    left: 25%;
    bottom: -5%;
    font-size: 100px;
    line-height: 140%;
    color: white;

}
.content img{
  width: 100%;
  
}
.content p{

position: absolute;
top: 25%;
left: 0;
    right: 0;
    bottom: 1%;
    font-size: 80px;
    color: white;
}
 }
  @media only screen and (max-width: 1000px) {
    .content img{
  width: 100%;
  
}
.content p{

position: absolute;
top: 25%;
left: 0;
    right: 0;
    bottom: 1%;
    font-size: 60px;
    color: white;
}
      .imgblock img{
 margin-left: 20rem;
 display: flex;
}
.sashalogo{
  left:27%;
  margin-bottom: 1rem;
}
.sashaproduct{
  left:13%;
}
  }
@media only screen and (max-width: 770px) {
.content{
  padding: 1%;
 
  background-color: white;
  position: relative;
    display: grid;
    text-align: center;
    bottom: 0;
}
.content .inst {
  left: 10%;
  top:2%;
 display: flex;
 text-align: left;
  font-size: 16px;
  font-style: normal;
}
.content p{

position: absolute;
top: 15%;
left: 0;
    right: 0;
    bottom: 1%;
    font-size: 40px;
    color: white;
}
.content .contentproduct{
  display: flex;
}
.contentproduct{

  text-align: center;
 
   background-color: white;
   position: relative;
    display:block;
}
.contentproduct img{
  position: relative;
  display: flex;
  width: 50%;

  
}

.contentproduct p{
    font-size: 24px;
}
button {
  background: #70BBEC;
  border: none;

}
button p{
  width: 15rem ;
  color: white;

}
.imgblock {
     display: grid;
     
  width: 50%;
  position: relative;
 

   }
  .imgblock img{
    width: 60%;
 margin-left: 4rem;
 display: flex;
}
 .imgblock p{
  position: absolute;

left: 0;
    left: 25%;
    bottom: -5%;
    font-size: 80px;
    color: white;

}
.imgblock span {
font-size: 14px;
}
  }
  @media only screen and (max-width: 360px) {
    .sashacat{
      width: 100%;
      display: grid;
    }
    .content{
  padding: 1%;
 width: 93%;
  background-color: white;
  position: relative;
    display: grid;
    text-align: center;
    bottom: 0;
}
.content .inst {
  left: 10%;
  top:2%;
 display: flex;
 text-align: left;
  font-size: 16px;
  font-style: normal;
}
.content p{

position: absolute;
top: 45%;
left: 0;
    right: 0;
    bottom: 1%;
    font-size: 40px;
    color: white;
}
.content .contentproduct{
  display: grid;
}
.contentproduct{
 width: 95%;
  text-align: center;
 
   background-color: white;
   position: relative;
    display:block;
}
.contentproduct img{
 margin-right: 1rem;
  position: relative;
  display: inline;
  width: 40%;

  
}
.sashalogo {
  left: 0%;
}
.sashaproduct {
  left: 0%;
}
.contentproduct p{
    font-size: 18px;
}
button {
  background: #70BBEC;
  border: none;
 margin: 1rem; 
}
button p{
  width: 10rem ;
  color: white;
}

    .imgblock {
     display: grid;
       right: 6rem;
  width: 100%;
  position: relative;
 

   }
 .imgblock img{
   margin-left: 3rem;
    width: 50%;
 display: flex;
}
 .imgblock p{
  position: absolute;

left: 5rem;
    bottom: 50%;
    font-size: 40px;
    color: white;

}
.imgblock span {
  width: 15rem ;
  text-align: center;
    margin: 0;
font-size: 20px;
}
.dudes{
background-color: #70BBEC;
text-align: center;
padding-bottom: 5rem;
}
 .dudes p{ 
  text-align: center;
  color: white;
      font-family: 'Bebas Neue';
 font-style: Bold;
 font-weight: 700;
font-size: 24px;

}
.dudes img{
  width: 100%;
}
.text1 p{  
  text-align: right;
  display: flex;
  }
  }
  
</style>
